body {
  -webkit-user-select: none;
  user-select: none;
  margin-inline: auto;
  width: clamp(200px, 50vw, 500px);
  color: #eee;
  font-family: consolas, monospace;
  letter-spacing: 0.25ch;
  background-color: #000;
}

h1 {
  text-align: center;
  border-bottom: 2px solid;
}

.game-list {
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.game-link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    position: relative;
    color: springgreen;
    &::before {
      position: absolute;
      content: '\25b8';
      translate: -100%;
    }
  }
}
