#settings:has([name='size'][value='3']:checked) ~ #game .tile {
  /* row 2 */
  &:nth-child(n + 4):nth-child(-n + 6) {
    background-position-y: 50%;
  }

  /* row 3 */
  &:nth-child(n + 7):nth-child(-n + 9) {
    background-position-y: 100%;
  }

  /* col 2 */
  &:nth-child(3n-1) {
    background-position-x: 50%;
  }

  /* col 3 */
  &:nth-child(3n-0) {
    background-position-x: 100%;
  }
}

#settings:has([name='size'][value='4']:checked) ~ #game .tile {
  /* row 2 */
  &:nth-child(n + 5):nth-child(-n + 8) {
    background-position-y: 33.333333%;
  }
  /* row 3 */
  &:nth-child(n + 9):nth-child(-n + 12) {
    background-position-y: 66.666666%;
  }
  /* row 4 */
  &:nth-child(n + 13):nth-child(-n + 16) {
    background-position-y: 100%;
  }

  /* ------ */

  /* col 2 */
  &:nth-child(4n-2) {
    background-position-x: 33.333333%;
  }
  /* col 3 */
  &:nth-child(4n-1) {
    background-position-x: 66.666666%;
  }
  /* col 4 */
  &:nth-child(4n-0) {
    background-position-x: 100%;
  }
}

#settings:has([name='size'][value='5']:checked) ~ #game .tile {
  /* row 2 */
  &:nth-child(n + 6):nth-child(-n + 10) {
    background-position-y: 25%;
  }
  /* row 3 */
  &:nth-child(n + 11):nth-child(-n + 15) {
    background-position-y: 50%;
  }
  /* row 4 */
  &:nth-child(n + 16):nth-child(-n + 20) {
    background-position-y: 75%;
  }
  /* row 5 */
  &:nth-child(n + 21):nth-child(-n + 25) {
    background-position-y: 100%;
  }

  /* ------ */

  /* col 2 */
  &:nth-child(5n-3) {
    background-position-x: 25%;
  }
  /* col 3 */
  &:nth-child(5n-2) {
    background-position-x: 50%;
  }
  /* col 4 */
  &:nth-child(5n-1) {
    background-position-x: 75%;
  }
  /* col 5 */
  &:nth-child(5n-0) {
    background-position-x: 100%;
  }
}
