:root {
  --color-text: #fff;
  --color-foreground: #fff;
  --color-background: #333;
  --color-primary: #8fbc8f;
  --color-accent: #ffae52;
  --color-border: #aaccff;

  color: var(--color-text);
}

body {
  background: var(--color-background);
  margin: 0 2rem;
}

#area {
  border: 0.5rem inset var(--color-border);
  background: var(--color-foreground);
  border-radius: 1rem;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.cell {
  border-radius: 50%;
  aspect-ratio: 1;
}

header,
main {
  margin-inline: auto;
  width: clamp(256px, 50%, 512px);
}

.myPos {
  background: var(--color-primary);
}

.tail {
  background: var(--color-primary);
  filter: opacity(0.4);
}

.point {
  background: var(--color-accent);
}
