:root {
  --color-primary: turquoise;
  --color-secondary: hotpink;
  --color-accent: blueviolet;
  --color-background: steelblue;
  --color-glow: color-mix(in srgb, var(--color-primary), #fff6);
  --cell: clamp(64px, 20vw, 128px);
  --spread: calc(var(--cell) / 8);
  --aspect: 1.1547; /* top-flat hex */
  --gap: calc(var(--cell) * 0.5 + var(--spread));
  --margin: calc(var(--cell) * -0.52 / var(--aspect) + var(--spread) / 2 / var(--aspect));
  --shadow-spread: 2px;
}

body {
  touch-action: manipulation;
  margin: 0;
  color: white;
  height: 100vh;
  align-content: center;
  overflow: hidden;
  background-color: #000;
}

.grid {
  width: min-content;
  margin-inline: auto;
  filter: drop-shadow(0 0 var(--shadow-spread) var(--color-glow));
}

.row {
  gap: 0 var(--gap);
  display: flex;
  justify-content: center;

  & ~ & {
    margin-top: var(--margin);
  }
}

.hex {
  all: unset;
  flex: 0 0 var(--cell);
  aspect-ratio: var(--aspect);
  background-color: #00000001;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-accent));
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: all 0.05s;

  &:hover:not(.hit) {
    --color-primary: var(--color-secondary);
  }

  &.hit {
    filter: brightness(0.33) grayscale(0.66);
    scale: 0.9;
  }
}

.grid,
.hex {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: none;
}
