:root {
  --color-primary: turquoise;
  --color-secondary: hotpink;
  --color-tertiary: teal;
  --color-accent: blueviolet;
  --color-background: steelblue;
  --cell: clamp(64px, 20vw, 128px);
  --aspect: 1.1547; /* top-flat hex */
  --shadow-spread: 3px;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

body {
  touch-action: manipulation;
  margin: 0;
  color: white;
  height: 100vh;
  align-content: center;
  overflow: hidden;
  background-color: #000000;
}

.grid {
  --hex-radius: 2;
  --sub-row: 2;
  --sub-col: 4;
  --row-offset: calc(var(--hex-radius) * var(--sub-row) + 1);
  --col-offset: calc(max(var(--sub-col), var(--hex-radius) * var(--sub-col) - 1));
  --color: var(--color-tertiary);

  display: grid;
  max-width: max-content;
  padding: 12px;
  gap: calc(clamp(0px, var(--hex-radius) * 8px, 8px));
  margin-inline: auto;
  filter: drop-shadow(0 0 var(--shadow-spread) var(--color));
  clip-path: polygon(0 20%, 40% 0, 60% 0, 100% 20%, 100% 80%, 60% 100%, 40% 100%, 0 80%);

  &.over {
    --color: crimson;
  }
}

.hex {
  --r: attr(data-r number);
  --c: attr(data-c number);

  grid-row-start: calc((-1 * (var(--r) - var(--c))) + var(--row-offset));
  grid-column-start: calc(3 * (var(--r) + var(--c)) + var(--col-offset));
  grid-row-end: span var(--sub-row);
  grid-column-end: span var(--sub-col);

  background-image: radial-gradient(at 30% 10%, var(--color-primary), var(--color-accent));
  aspect-ratio: var(--aspect);
  width: var(--cell);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  touch-action: none;
  transition:
    filter 0.3s,
    scale 0.1s;

  &.hit {
    filter: brightness(0.33) grayscale(0.66);
    scale: 0.9;
  }

  &.target {
    --color-primary: var(--color-secondary);
  }
}
